<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewell.esb.dao.ESBEventInfoDao">
    
    <resultMap id="EventInfo" type="ESBEventInfo">
        <id column="LOG_NO" property="logNo" ></id>
        <result column="QUEUE_CONN_NAME" property="queueConnectName"></result>
        <result column="SERVICE_ID" property="serviceId"></result>
        <result column="QUEUE_SEQ" property="queueSeq"></result>
        <result column="MESSAGE_ID" property="messageId"></result>
        <result column="MESSAGE" property="message" jdbcType="CLOB" javaType="java.lang.String" typeHandler="com.ewell.esb.common.util.DBClobTypeHandler"></result>
        <result column="RD" property="recDate"></result>
        <result column="SERVER_IP" property="serverIP"></result>
        <result column="LOG_STATUS" property="logStatus"></result>
        <result column="LOG_TYPE" property="logType"></result>
        <result column="LU" property="lastUpdate"></result>
        <result column="LOG_GUID" property="logGuid"></result>
        <result column="SERVICE_NAME" property="serviceName"></result>
    </resultMap>
    <!-- 查询时间范围内的通道消息 -->
    <select id="selectByDate" resultMap="EventInfo">
        SELECT T.LOG_NO,
        T.QUEUE_CONN_NAME,
        T.SERVICE_ID,
        T.QUEUE_SEQ,
        T.MESSAGE_ID,
        T.MESSAGE,
        TO_CHAR(T.REC_DATE, 'yyyy-mm-dd hh24:mi:ss') RD,
        T.SERVER_IP,
        T.LOG_STATUS,
        T.LOG_TYPE,
        TO_CHAR(T.LAST_UPDATE,'yyyy-mm-dd hh24:mi:ss') LU,
        T.LOG_GUID,
        T.SERVICE_NAME
        FROM ESB_MSG_INFO T
        WHERE T.REC_DATE >= TO_DATE(#{startTime}, 'yyyy-mm-dd hh24:mi:ss') AND
        <![CDATA[T.REC_DATE < TO_DATE(#{endTime}, 'yyyy-mm-dd hh24:mi:ss')]]> AND
        T.LOG_STATUS = '1'
    </select>
    <!-- 更新事件状态为执行失败-->
    <update id="update">
        UPDATE ESB_MSG_INFO T SET T.LOG_STATUS = '2' WHERE T.LOG_NO = #{logNo}
    </update>
    <!-- 插入事件-->
    <sql id="ESB_MSG_INFO_SEQ">ESB_MSG_INFO_SEQ.NEXTVAL</sql>
    <insert id="insert">
        <selectKey keyProperty="logNo" resultType="java.lang.String" order="BEFORE">
            select <include refid="ESB_MSG_INFO_SEQ" /> from dual
        </selectKey>
        INSERT INTO ESB_MSG_INFO
        (log_no,
        queue_conn_name,
        service_id,
        queue_seq,
        message_id,
        message,
        rec_date,
        server_ip,
        log_status,
        log_type,
        last_update,
        log_guid,
        service_name)
        VALUES(#{logNo}, #{ queueConnectName}, #{ serviceId}, #{ queueSeq}, #{ messageId}, #{ message}, TO_DATE(#{ recDate},'yyyy-mm-dd hh24:mi:ss'), #{ serverIP}, #{ logStatus},#{ logType}, TO_DATE(#{ lastUpdate},'yyyy-mm-dd hh24:mi:ss'), #{ logGuid}, #{serviceName})
    </insert>
    <delete id="delete">
        DELETE FROM ESB_MSG_INFO T WHERE T.LOG_NO = #{_parameter}
    </delete>
</mapper>