<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewell.esb.dao.RoleGrantDao">
    <update id="updateRole">
        UPDATE ROLE_USER T SET T.USER_DEPT = #{deptCode} WHERE T.USER_ID = (SELECT SD.ID FROM STAFF_DICT SD WHERE SD.EMP_NO = #{empNo})
    </update>
    <update id="updateStaffGroup">
        UPDATE STAFF_VS_GROUP T SET T.GROUP_CODE = #{deptCode} WHERE T.EMP_NO = #{empNo} AND T.GROUP_CODE = #{deptCodeOld}
    </update>
    <select id="selectByEmpId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM STAFF_VS_GROUP T WHERE T.EMP_NO = #{empNo} AND T.GROUP_CODE = #{deptCodeOld}
    </select>
    <insert id="insertStaffGroup">
        INSERT INTO STAFF_VS_GROUP VALUES(#{job},#{deptCode},#{empNo})
    </insert>
</mapper>