<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ewell.esb.dao.RoleGrantDao">

    <select id="selectRoleDeptCode" resultType="java.lang.String">
        SELECT T.DEPT_CODE_HIS FROM COMM.DEPT_VS_HERP T WHERE T.DEPT_CODE_HERP = #{_parameters} AND ROWNUM = 1
    </select>
    <select id="selectWardCodeByDeptCode" resultType="java.lang.String">
        SELECT T.WARD_CODE FROM DEPT_VS_WARD T WHERE T.DEPT_CODE = #{_parameter}
    </select>
    <select id="selectEmpNobyUserName" resultType="java.lang.String">
        SELECT SD.EMP_NO FROM STAFF_DICT SD WHERE SD.USER_NAME = #{_parameter}
    </select>
    <update id="updateRole">
        UPDATE ROLE_USER T
        SET T.USER_DEPT = #{ deptCode}
        WHERE T.USER_ID = (SELECT SD.ID FROM STAFF_DICT SD WHERE SD.USER_NAME = #{userName})
        AND T.USER_DEPT = #{ deptCodeOld}
    </update>
    <insert id="insertRole">
        INSERT INTO ROLE_USER(ROLE_ID,
        USER_ID,
        PRIORITY,
        START_DATE,
        END_DATE,
        TIME_SWITCH,
        CLASS_ID,
        USER_DEPT) VALUES(#{ roleId},(SELECT SD.ID FROM STAFF_DICT SD WHERE SD.USER_NAME = #{userName}),
        '1',TO_DATE('1753-01-01','yyyy-mm-dd'),TO_DATE('9998-12-31','yyyy-mm-dd'),'0',#{ classId},#{ deptCode})
    </insert>
</mapper>